*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    border: 0px;
}

textarea, input {
    resize: none;
    outline: none;
    font-size: 14px;
}

.bodycontent {
    margin: 0 auto;
}

.clicbtn, span.clicbtn {
    -moz-transition: background-color .1s ease;
    -ms-transition: background-color .1s ease;
    -o-transition: background-color .1s ease;
    transition: background-color .1s ease;
    touch-action: manipulation;
}

span.clicbtn {
    display: inline-block;
}

    .clicbtn:active, span.clicbtn:active {
        background-color: #39b479;
        color: #fff;
    }

body {
    margin: 0 auto;
    height: 100%;
    background: #FFF;
    font-size: 13px;
    font-family: "Microsoft YaHei", 微 软 雅 黑, "MicrosoftJhengHei", 华 文 细 黑, STHeiti, MingLiu;
    line-height: 1.5;
    color: #666;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-user-select: none;
    user-select: none;
    min-width: 320px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-font-smoothing: subpixel-antialiased;
    background-color: #f1f1f1;
}

ul {
    list-style: none;
}

.greenButn {
    background-color: #45bd7d;
    color: #ffffff;
}

.content {
    width: 95%;
    margin: 0 auto;
}

.table {
    width: 100%;
    border: none;
    border-collapse: collapse;
}

#modal-alert-info {
    background: none;
    min-height: 170px;
}

    #modal-alert-info td {
        text-align: center;
    }

    #modal-alert-info .alertInfo {
        display: inline-block;
        margin: 0 auto;
        background: rgba(0, 0, 0, 0.5);
        color: #ffffff;
        font-size: 16px;
        border-radius: 5px;
        padding: 18px 20px;
        min-width: 170px;
    }

.alert {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 10;
    overflow: hidden;
}

    .alert tr td {
        height: 100%;
    }

    .alert .modal {
        height: 157px;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #fff;
    }

        .alert .modal .close_btn {
            display: inline-block;
            float: right;
            height: 48px;
            width: 48px;
            text-align: right;
            padding-top: 5px;
        }

            .alert .modal .close_btn .Icon_close {
                display: inline-block;
                background-repeat: no-repeat;
                background-image: url(../images/1x/ico_close.png);
                background-image: -webkit-image-set(url(../images/1x/ico_close.png) 1x,url(../images/2x/ico_close.png) 2x);
                height: 16px;
                width: 16px;
            }

        .alert .modal .title {
            padding: 0px 10px;
            padding-left: 12px;
            font-size: 16px;
            color: #333;
            font-weight: bold;
            line-height: 48px;
            background-color: #f1f1f1;
            border-bottom: 1px solid #cccccc;
        }

        .alert .modal .message {
            padding: 15px 14px;
        }

            .alert .modal .message .text {
                margin-bottom: 15px;
            }

        .alert .modal .title .split {
            margin-right: 10px;
        }

        .alert .modal .greenButn, .alert .modal .cancer {
            line-height: 42px;
            width: 100%;
            font-size: 16px;
            text-align: center;
        }

        .alert .modal .cancer {
            border: 1px solid #d5d5d5;
            line-height: 40px;
        }

        .alert .modal .modal_footer .left {
            float: left;
            width: 66%;
            padding: 0 10px;
        }

        .alert .modal .modal_footer .right {
            float: left;
            width: 33%;
            padding: 0 10px;
        }

.loading {
    text-align: center;
    color: #eeeeee;
}

    .loading .text {
        margin: 10px 0px;
    }


.icon_loading {
    width: 142px;
    height: 63px;
    background-repeat: no-repeat;
    margin: 0 auto;
}

.spinner {
    text-align: center;
}

    .spinner > div {
        width: 30px;
        height: 30px;
        background-color: #45bd7d;
        border-radius: 100%;
        display: inline-block;
        -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
        animation: bouncedelay 1.4s infinite ease-in-out;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
    }

    .spinner .bounce1 {
        -webkit-animation-delay: -0.32s;
        animation-delay: -0.32s;
    }

    .spinner .bounce2 {
        -webkit-animation-delay: -0.16s;
        animation-delay: -0.16s;
    }

@-webkit-keyframes bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0.0);
    }

    40% {
        -webkit-transform: scale(1.0);
    }
}

@keyframes bouncedelay {
    0%, 80%, 100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    }

    40% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
}

#btn_loading {
    background: rgba(0, 0, 0, 0.5);
}

.system-title {
    position: absolute;
    height: 50px;
    background-color: #303537;
    color: #fff;
    line-height: 50px;
    width: 100%;
}

    .system-title .titText {
        display: block;
        color: #fff;
        font-size: 16px;
        text-align: center;
    }

    .system-title .goBack {
        display: inline-block;
        height: 50px;
        position: absolute;
        left: 0;
        padding-left: 25px;
        background-image: url(../images/1x/arrow_goback_tit.png);
        background-image: -webkit-image-set(url(../images/1x/arrow_goback_tit.png) 1x,url(../images/2x/arrow_goback_tit.png) 2x);
        background-repeat: no-repeat;
        background-position: 10px center;
        color: #efefef;
        font-size: 16px;
        line-height: 50px;
    }

.system-bodyScroll {
    position: absolute;
    top: 50px;
    width: 100%;
    bottom: 0;
    overflow: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}
/* button style */
.btn_area {
    margin: 15px 0 0;
}

    .btn_area li {
        margin: 0 0 15px 0;
    }

.btn_green,
.btn_greenB,
.btn_grayB {
    display: block;
    height: 45px;
    line-height: 43px;
    text-decoration: none;
    text-align: center;
    border: solid 1px #bbb;
    width: 100%;
}

.btn_green {
    background-color: #45bd7d;
    color: #fff;
}

.btn_greenB {
    border: solid 1px #45bd7d;
    color: #45bd7d;
}

    .btn_greenB:active {
        background-color: #45bd7d;
        color: #fff;
    }

.btn_grayB {
    border: solid 1px #bbb;
    color: #666;
}

    .btn_grayB:active {
        background-color: #bbb;
        color: #fff;
    }

.dataLaoding {
    height: 35px;
    line-height: 35px;
    background-color: #ffffff;
    text-align: center;
}

    .dataLaoding .img {
        height: 16px;
        vertical-align: text-top;
    }
