<div class="bookdeatilModules-like">
    <div class="system-bodyScroll">
        <div class="penal">
            <div class="detail-box">
                <div class="detail-warrper">
                    <div class="img-warrper">
                        <img src="https://qidian.qpic.cn/qdbimg/349573/c_5369131804594101/90" alt="">
                    </div>
                    <div class="detail-right">
                        <h3 class="average-height">黑枪传说</h3>
                        <p class="average-height">
                            <span class="book-type">东方玄幻</span>
                            <span>300万字</span>
                        </p>
                        <div class="ellipsis average-height">
                            记录了一个青年迷茫的大学时代
                        </div>
                    </div>
                </div>
                <div class="btn-group" id="btn-group">
                    <button class="btn" id="add-to-bookshelf">加入书架</button>
                    <button class="btn" id="start-reading">开始阅读</button>
                </div>
            </div>
        </div>
    </div>
</div>