<div class="bookReadingModules-like">
    <div class="system-bodyScroll">
        <div class="content-box">
            <div class="chapter">
                <h2 class="chapter-title-box">
                    <span id="chapter-num">第一章</span>
                    <span id="chapter-name">你的手放在哪里</span>
                </h2>
                <div id="paragraph-box">
                    <p class="paragraph">
                        “魂淡，你的手放在哪里？” “娘子莫急，为夫帮你摸骨！” 凤灼咬牙切齿，踹飞：小包子有长骨？ “禽兽，拉着我的手往哪里放？” “听说娘子是神医，为夫骨折了！” 凤灼再次抬脚狠踹：那形状那触感是骨折了？当我瞎啊？ 当2222年的异能女王，穿越到异世大陆小废材身上。
                        拳打白莲花，脚踹狗渣男，凭借逆天异能混的风生水起，神鬼皆避让。
                    </p>
                </div>
            </div>

        </div>
    </div>
    <div class="system-footer" id='reading-menus'>
        <div class="menu-list">
            <div class="menu-item" data-name='catalog'>
                <i class="icon iconfont icon-mulu"></i>
                <span class="menu-name">目录</span>
            </div>
            <div class="menu-item" data-name='font'>
                <i class="icon iconfont icon-icon-ziti"></i>
                <span class="menu-name">字体</span>
            </div>
            <div class="menu-item" data-name='night'>
                <i class="icon iconfont icon-wanshangyueliangye"></i>
                <span class="menu-name">夜晚</span>
            </div>
        </div>
        <div class="modify-style-box">
            <p id="font-style">
                <span class="word-size">字号</span>
                <span class="small">A-</span>
                <span class="current-size">16</span>
                <span class="large">A+</span>
            </p>
            <p class="background-style" id="background-style">
                <span>背景</span>
                <span class="purple background-color" data-color='purple'></span>
                <span class="yellow background-color" data-color='yellow'></span>
                <span class="green background-color" data-color='green'></span>
                <span class="black background-color" data-color='black'></span>
            </p>
        </div>
    </div>
</div>