<div class="bookReadingModules-like">
    <div class="system-bodyScroll">
        <div class="content-box">
            <div class="chapter">
                “魂淡，你的手放在哪里？” “娘子莫急，为夫帮你摸骨！” 凤灼咬牙切齿，踹飞：小包子有长骨？ “禽兽，拉着我的手往哪里放？” “听说娘子是神医，为夫骨折了！” 凤灼再次抬脚狠踹：那形状那触感是骨折了？当我瞎啊？ 当2222年的异能女王，穿越到异世大陆小废材身上。
                拳打白莲花，脚踹狗渣男，凭借逆天异能混的风生水起，神鬼皆避让。
            </div>

        </div>
    </div>
    <div class="system-footer">
        <div class="menu-list">
            <div class="menu-item">
                <i class="icon iconfont icon-mulu"></i>
                <span class="menu-name">目录</span>
            </div>
            <div class="menu-item">
                <i class="icon iconfont icon-icon-ziti"></i>
                <span class="menu-name">字体</span>
            </div>
            <div class="menu-item">
                <i class="icon iconfont icon-wanshangyueliangye"></i>
                <span class="menu-name">夜晚</span>
            </div>
        </div>
    </div>
</div>