<div class="searchModules-like">
    <div class="system-bodyScroll">
        <div class="penal" id="penal">
            <div class="search-warrper">
                <i class="icon iconfont icon-magnifier"></i>
                <input type="text" id='search-value'>
                <i class="icon iconfont icon-clear"></i>
                <span class="search-btn"  id="hot-seatch-btn">搜索</span>
            </div>
            <div class="hot-searchs">
                <span class="hot-search-title">热门搜索</span>
                <div class="hot-list" id="searchModules-hot-searchs">

                </div>
            </div>
            <div id="search-result">

            </div>
        </div>
    </div>
</div>