<div class="competitiveProductsModules-like">
    <div class="system-bodyScroll">
        <div class="penal">
            <div class="tab-title-warrper" id="tab-title-warrper">
                <div class="tab-title tab-selecetd" id="boy">
                    男生
                </div>
                <div class="tab-title" id="girl">
                    女生
                </div>
            </div>
            <div class="tab-content" id="competitiveProductsModules-boyContent"></div>
            <div class="tab-content" id="competitiveProductsModules-girlContent"></div>
        </div>
    </div>
</div>