 <div class="clientResourceModules-resource">
        <div class="system-title">
            <span class="goBack" ontouchstart="TDM.route.back()">返回</span>
            <span class="titText">客户资源</span>
        </div>
        <div class="system-bodyScroll">
            <div class="menu">
                <ul class="wire">
                    <li></li>
                    <li></li>
                    <li></li>
                    <li style="border: none;"></li>
                </ul>
                <div class="txt">
                    <ul class="list">
                        <li class="item seleted" onclick="return true;">全部</li>
                        <li class="item">活跃</li>
                        <li class="item">沉睡</li>
                        <li class="item">流失</li>
                    </ul>
                </div>
            </div>
            <div class="sort">
                <ul>
                    <li class=" on clicbtn" onclick="return true;">有意向</li>
                    <li class=" clicbtn">低价值</li>
                    <li class=" clicbtn">已拒绝</li>
                    <li class=" clicbtn">未标记</li>
                </ul>
            </div>
            <div class="penal">
                <div class="list">
                    <div class="item" id="foodies-item-click">
                        <div class="top">
                            <span class="name">卡本特</span>
                            <span class="icon_man"></span>
                            <span class="phone">15176645422</span>
                            <span class="tag intention">
                                <span class="triangle"></span>
                                <span class="text">有意向</span>
                            </span>
                        </div>
                        <div class="bottom">
                            <div class="customerType">
                                活跃客户-老板好朋友
                            </div>
                            <div class="details">
                                <span class="time">7天前</span>
                                <span class="people">
                                    8人消费
                                </span>
                                <span class="desk">（1022,1023）</span>
                                <span class="info">
                                    累计<span class="count">64</span>桌
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="top">
                            <span class="name">卡本特</span>
                            <span class="icon_woman"></span>
                            <span class="phone">15176645422</span>
                            <span class="tag refuse">
                                <span class="triangle"></span>
                                <span class="text">已拒绝</span>
                            </span>
                        </div>
                        <div class="bottom">
                            <div class="customerType">
                                活跃客户-老板好朋友
                            </div>
                            <div>
                                <span class="time">7天前</span>
                                <span class="people">
                                    8人消费
                                </span>
                                <span class="desk">（1022,1023）</span>
                                <span class="info">
                                    累计<span class="count">64</span>桌
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="top">
                            <span class="name">卡本特</span>
                            <span class="icon_woman"></span>
                            <span class="phone">15176645422</span>
                            <span class="tag leave">
                                <span class="triangle"></span>
                                <span class="text">已流失</span>
                            </span>
                        </div>
                        <div class="bottom">
                            <div class="customerType">
                                活跃客户-老板好朋友
                            </div>
                            <div>
                                <span class="time">7天前</span>
                                <span class="people">
                                    8人消费
                                </span>
                                <span class="desk">（1022,1023）</span>
                                <span class="info">
                                    累计<span class="count">64</span>桌
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="top">
                            <span class="name">卡本特</span>
                            <span class="icon_woman"></span>
                            <span class="phone">15176645422</span>
                            <span class="tag nosign">
                                <span class="triangle"></span>
                                <span class="text">未标记</span>
                            </span>
                        </div>
                        <div class="bottom">
                            <div class="customerType">
                                活跃客户-老板好朋友
                            </div>
                            <div>
                                <span class="time">7天前</span>
                                <span class="people">
                                    8人消费
                                </span>
                                <span class="desk">（1022,1023）</span>
                                <span class="info">
                                    累计<span class="count">64</span>桌
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="noCount">
                        <div class="descript">
                            暂无客户信息
                        </div>
                    </div>
                </div>
                <div class="dataLaoding">
                    <img src="../../images/loading_1.gif" class="img" /> 正在加载...
                </div>
            </div>
        </div>

    </div>