<div class="commonModules-like">
    <div class="system-title" id="system-title">
        <span class="goBack" ontouchstart="TDM.route.back()">返回</span>
        <span class="titText">书架</span>
    </div>
    <div id="commonModules-render-bookshelf"></div>
    <div id='commonModules-render-jingpin'></div>
    <div id="commonModules-render-zhuanti"></div>
    <div id="commonModules-render-search"></div>
    <div class="system-footer">
        <div class="menu-list">
            <div class="menu-item menu-selected" id="commonModules-bookshelf">
                <i class="icon iconfont icon-shujia"></i>
                <span class="menu-name">书架</span>
            </div>
            <div class="menu-item" id="commonModules-jingpin">
                <i class="icon iconfont icon-jingpin"></i>
                <span class="menu-name">精品</span>
            </div>
            <div class="menu-item" id="commonModules-zhuanti">
                <i class="icon iconfont icon-zhuanti"></i>
                <span class="menu-name">专题</span>
            </div>
            <div class="menu-item" id="commonModules-search">
                <i class="icon iconfont icon-sousuo-sousuo"></i>
                <span class="menu-name">搜索</span>
            </div>
        </div>
    </div>
</div>