

.clientResourceModules-like .deputyTitle {
    height: 50px;
    line-height: 50px;
    background-color: #ffffff;
    position: relative;
    border-bottom: solid 1px #d5d5d5;
    font-size: 16px;
    color: #333333;
    padding-left: 14px;
}

    .clientResourceModules-like .deputyTitle .icon_sex_man {
        display: inline-block;
        width: 18px;
        height: 18px;
        background: url(../../svg/ico_gentleman_blue.svg) no-repeat;
        background-position: center;
        position: relative;
        top: 2px;
    }

    .clientResourceModules-like .deputyTitle .icon_sex_woman {
        display: inline-block;
        width: 18px;
        height: 18px;
        background: url(../../svg/ico_lady_red.svg) no-repeat;
        background-position: center;
        position: relative;
        top: 2px;
    }

.clientResourceModules-like .penal {
    padding: 15px;
}


    .clientResourceModules-like .penal .item {
        min-height: 44px;
        margin-bottom: 10px;
        border: solid 1px #eee;
        position: relative;
        padding-left: 52px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 25px;
        background-color: #ffffff;
    }



    .clientResourceModules-like .penal .headline {
        display: inline-block;
        color: #888;
        text-align: center;
        width: 52px;
        min-height: 44px;
        position: absolute;
        left: 0;
    }

    .clientResourceModules-like .penal .tdContent {
        display: inline-block;
        color: #333333;
        word-break: break-all;
    }

    .clientResourceModules-like .penal .icon_target {
        display: inline-block;
        width: 11px;
        height: 17px;
        background: url(../../svg/ico_arrowR_gray.svg) no-repeat;
        background-position: right center;
        position: absolute;
        right: 6px;
        top: 36%;
    }
