 <div class="clientResourceModules-like">
        <div class="system-title">
            <span class="goBack"ontouchstart="TDM.route.back()" >返回</span>
            <span class="titText">北京百家大院(客户资源)</span>
        </div>
        <div class="system-bodyScroll">
            <div class="deputyTitle">

                卡本特<span class="icon_sex_man"></span>
                <span class="icon_sex_woman"></span>的喜好、忌口、服务
            </div>
            <div class="penal">
                <div class="item">
                    <span class="headline">喜好</span>
                    <span class="tdContent">酸辣，酸甜，黑暗料理</span>
                    <span class="icon_target"></span>
                </div>
                <div class="item">
                    <span class="headline">忌口</span>
                    <span class="tdContent">赠牛肉片一盘，赠煮鸡蛋,番茄炒蛋不要蛋,番茄炒蛋不要蛋,番茄炒蛋不要蛋,番茄炒蛋不要蛋,番茄炒蛋不要蛋,</span>
                    <span class="icon_target"></span>
                </div>
                <div class="item">
                    <span class="headline">服务</span>
                    <span class="tdContent">赠牛肉片一盘，赠煮鸡蛋，赠牛肉片一盘，赠煮鸡蛋，赠牛肉片一盘，赠煮鸡蛋，赠牛肉片一盘，赠煮鸡蛋，赠牛肉片一盘，赠煮鸡蛋，赠牛肉片一盘，赠煮鸡蛋</span>
                    <span class="icon_target"></span>
                </div>


            </div>
        </div>
    </div>